* {
	margin: 0;
	padding: 0;
}

.moveCursor {
	cursor: move;
}
.pointerCursor {
	cursor: pointer;
}


.CityPopup {
	font-size: 12px;
	padding: 5px;
	border: 1px solid #666;
	background-color: #ccffcc;
}
